<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Programming Languages{% endblock %}</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="python.html">Python</a></li>
            <li><a href="javascript.html">JavaScript</a></li>
            <li><a href="java.html">Java</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Programming Languages</p>
    </footer>
</body>
</html>
