{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Programming Languages Site</h1>
<p>Learn about different programming languages, their features, use cases, and more.</p>
<p>Choose a language from the navigation bar to get started.</p>
{% endblock %}
