{% extends 'base.html' %}

{% block title %}Java{% endblock %}

{% block content %}
<h1>Java</h1>
<p>Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. It is intended to let application developers write once, run anywhere (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation.</p>
<h2>Features</h2>
<ul>
    <li>Platform-independent</li>
    <li>Object-oriented</li>
    <li>Robust and secure</li>
    <li>Rich standard library and ecosystem</li>
</ul>
<h2>Use Cases</h2>
<ul>
    <li>Enterprise applications</li>
    <li>Android app development</li>
    <li>Web applications (e.g., Spring framework)</li>
    <li>Scientific computing</li>
</ul>
{% endblock %}
