{% extends 'base.html' %}

{% block title %}JavaScript{% endblock %}

{% block content %}
<h1>JavaScript</h1>
<p>JavaScript is a text-based programming language used both on the client-side and server-side that allows you to make web pages interactive. It is an essential technology of the World Wide Web, alongside HTML and CSS.</p>
<h2>Features</h2>
<ul>
    <li>Interpreted language</li>
    <li>Event-driven, functional, and imperative programming styles</li>
    <li>Highly versatile and widely used</li>
    <li>Rich ecosystem with numerous frameworks and libraries (e.g., React, Angular)</li>
</ul>
<h2>Use Cases</h2>
<ul>
    <li>Front-end web development</li>
    <li>Back-end development (e.g., Node.js)</li>
    <li>Mobile app development (e.g., React Native)</li>
    <li>Game development</li>
</ul>
{% endblock %}
