{% extends 'base.html' %}

{% block title %}Python{% endblock %}

{% block content %}
<h1>Python</h1>
<p>Python is a high-level, interpreted programming language with dynamic semantics. It is known for its readability and simplicity, making it a popular choice for beginners and experts alike.</p>
<h2>Features</h2>
<ul>
    <li>Easy to read and write</li>
    <li>Extensive standard library</li>
    <li>Supports multiple programming paradigms</li>
    <li>Large and active community</li>
</ul>
<h2>Use Cases</h2>
<ul>
    <li>Web development (e.g., Django, Flask)</li>
    <li>Data science and machine learning (e.g., Pandas, Scikit-Learn)</li>
    <li>Scripting and automation</li>
    <li>Scientific computing (e.g., NumPy, SciPy)</li>
</ul>
{% endblock %}
